// Constants
.const-flex {
  display: flex;
  &--fd {
    &_c {
      flex-direction: column;
    }
  }
  &--jc {
    &_c {
      justify-content: center;
    }
    &_fe {
      justify-content: flex-end;
    }
  }
  &--ai {
    &_c {
      align-items: center;
    }
    &_fe {
      align-items: flex-end;
    }
  }
}

.const-relative {
  position: relative;
}
// Constants (END)
