a {
  color: inherit;
  text-decoration: none;
}

*:focus {
  outline: 0;
}

textarea {
  resize: none;
}

label {
  display: block;
}

form {
  display: inline;
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  font-size: get-font-size("small");
}

.bg-image {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.page-overlay {
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  @extend .transition;
  &.js-page-overlay--active {
    visibility: visible;
    opacity: 1;
  }
}
// General (END)
