/*
 * Generates an animation for slider based on input data
 *
 * @param {String} $name animation name for @keyframes
 * @param {Number} $slides amount of slides
 * @param {Number} $delay time during that a single slide is shown
 * @param {Number} $transition animation speed between slides (from one to another)
 * @returns {CSS} @keyframes animation
*/
.transition {
  transition: all 0.3s ease-in-out;
}

.clearfix:after, .container:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}

.container {
  margin: 0 auto;
  padding-right: 15pxpx;
  padding-left: 15pxpx;
}

.row {
  margin-right: -15pxpx;
  margin-left: -15pxpx;
  font-size: 0;
}

.column {
  display: inline-block;
  vertical-align: top;
  width: 100%;
}

.col-start-1 {
  width: 8.3333%;
}

.col-start-2 {
  width: 16.6666%;
}

.col-start-3 {
  width: 25%;
}

.col-start-4 {
  width: 33.3333%;
}

.col-start-5 {
  width: 41.6666%;
}

.col-start-6 {
  width: 50%;
}

.col-start-7 {
  width: 58.3333%;
}

.col-start-8 {
  width: 66.6666%;
}

.col-start-9 {
  width: 75%;
}

.col-start-10 {
  width: 83.3333%;
}

.col-start-11 {
  width: 91.6666%;
}

.col-start-12 {
  width: 100%;
}

.col-offset-start-0 {
  margin-left: 0%;
}

.col-offset-start-1 {
  margin-left: 8.3333%;
}

.col-offset-start-2 {
  margin-left: 16.6666%;
}

.col-offset-start-3 {
  margin-left: 25%;
}

.col-offset-start-4 {
  margin-left: 33.3333%;
}

.col-offset-start-5 {
  margin-left: 41.6666%;
}

.col-offset-start-6 {
  margin-left: 50%;
}

.col-offset-start-7 {
  margin-left: 58.3333%;
}

.col-offset-start-8 {
  margin-left: 66.6666%;
}

.col-offset-start-9 {
  margin-left: 75%;
}

.col-offset-start-10 {
  margin-left: 83.3333%;
}

.col-offset-start-11 {
  margin-left: 91.6666%;
}

.col-offset-start-12 {
  margin-left: 100%;
}

.hidden-start {
  display: none !important;
}

.visible-start {
  display: block !important;
}

@media (min-width: 544px) {
  .col-mb-1 {
    width: 8.3333%;
  }
  .col-mb-2 {
    width: 16.6666%;
  }
  .col-mb-3 {
    width: 25%;
  }
  .col-mb-4 {
    width: 33.3333%;
  }
  .col-mb-5 {
    width: 41.6666%;
  }
  .col-mb-6 {
    width: 50%;
  }
  .col-mb-7 {
    width: 58.3333%;
  }
  .col-mb-8 {
    width: 66.6666%;
  }
  .col-mb-9 {
    width: 75%;
  }
  .col-mb-10 {
    width: 83.3333%;
  }
  .col-mb-11 {
    width: 91.6666%;
  }
  .col-mb-12 {
    width: 100%;
  }
  .col-offset-mb-0 {
    margin-left: 0%;
  }
  .col-offset-mb-1 {
    margin-left: 8.3333%;
  }
  .col-offset-mb-2 {
    margin-left: 16.6666%;
  }
  .col-offset-mb-3 {
    margin-left: 25%;
  }
  .col-offset-mb-4 {
    margin-left: 33.3333%;
  }
  .col-offset-mb-5 {
    margin-left: 41.6666%;
  }
  .col-offset-mb-6 {
    margin-left: 50%;
  }
  .col-offset-mb-7 {
    margin-left: 58.3333%;
  }
  .col-offset-mb-8 {
    margin-left: 66.6666%;
  }
  .col-offset-mb-9 {
    margin-left: 75%;
  }
  .col-offset-mb-10 {
    margin-left: 83.3333%;
  }
  .col-offset-mb-11 {
    margin-left: 91.6666%;
  }
  .col-offset-mb-12 {
    margin-left: 100%;
  }
  .hidden-mb {
    display: none !important;
  }
  .visible-mb {
    display: block !important;
  }
}

@media (min-width: 768px) {
  .col-sm-1 {
    width: 8.3333%;
  }
  .col-sm-2 {
    width: 16.6666%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.3333%;
  }
  .col-sm-5 {
    width: 41.6666%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.3333%;
  }
  .col-sm-8 {
    width: 66.6666%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.3333%;
  }
  .col-sm-11 {
    width: 91.6666%;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-offset-sm-0 {
    margin-left: 0%;
  }
  .col-offset-sm-1 {
    margin-left: 8.3333%;
  }
  .col-offset-sm-2 {
    margin-left: 16.6666%;
  }
  .col-offset-sm-3 {
    margin-left: 25%;
  }
  .col-offset-sm-4 {
    margin-left: 33.3333%;
  }
  .col-offset-sm-5 {
    margin-left: 41.6666%;
  }
  .col-offset-sm-6 {
    margin-left: 50%;
  }
  .col-offset-sm-7 {
    margin-left: 58.3333%;
  }
  .col-offset-sm-8 {
    margin-left: 66.6666%;
  }
  .col-offset-sm-9 {
    margin-left: 75%;
  }
  .col-offset-sm-10 {
    margin-left: 83.3333%;
  }
  .col-offset-sm-11 {
    margin-left: 91.6666%;
  }
  .col-offset-sm-12 {
    margin-left: 100%;
  }
  .hidden-sm {
    display: none !important;
  }
  .visible-sm {
    display: block !important;
  }
}

@media (min-width: 1024px) {
  .col-md-1 {
    width: 8.3333%;
  }
  .col-md-2 {
    width: 16.6666%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.3333%;
  }
  .col-md-5 {
    width: 41.6666%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.3333%;
  }
  .col-md-8 {
    width: 66.6666%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.3333%;
  }
  .col-md-11 {
    width: 91.6666%;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-offset-md-0 {
    margin-left: 0%;
  }
  .col-offset-md-1 {
    margin-left: 8.3333%;
  }
  .col-offset-md-2 {
    margin-left: 16.6666%;
  }
  .col-offset-md-3 {
    margin-left: 25%;
  }
  .col-offset-md-4 {
    margin-left: 33.3333%;
  }
  .col-offset-md-5 {
    margin-left: 41.6666%;
  }
  .col-offset-md-6 {
    margin-left: 50%;
  }
  .col-offset-md-7 {
    margin-left: 58.3333%;
  }
  .col-offset-md-8 {
    margin-left: 66.6666%;
  }
  .col-offset-md-9 {
    margin-left: 75%;
  }
  .col-offset-md-10 {
    margin-left: 83.3333%;
  }
  .col-offset-md-11 {
    margin-left: 91.6666%;
  }
  .col-offset-md-12 {
    margin-left: 100%;
  }
  .hidden-md {
    display: none !important;
  }
  .visible-md {
    display: block !important;
  }
}

@media (min-width: 1280px) {
  .col-lg-1 {
    width: 8.3333%;
  }
  .col-lg-2 {
    width: 16.6666%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.3333%;
  }
  .col-lg-5 {
    width: 41.6666%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.3333%;
  }
  .col-lg-8 {
    width: 66.6666%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.3333%;
  }
  .col-lg-11 {
    width: 91.6666%;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-offset-lg-0 {
    margin-left: 0%;
  }
  .col-offset-lg-1 {
    margin-left: 8.3333%;
  }
  .col-offset-lg-2 {
    margin-left: 16.6666%;
  }
  .col-offset-lg-3 {
    margin-left: 25%;
  }
  .col-offset-lg-4 {
    margin-left: 33.3333%;
  }
  .col-offset-lg-5 {
    margin-left: 41.6666%;
  }
  .col-offset-lg-6 {
    margin-left: 50%;
  }
  .col-offset-lg-7 {
    margin-left: 58.3333%;
  }
  .col-offset-lg-8 {
    margin-left: 66.6666%;
  }
  .col-offset-lg-9 {
    margin-left: 75%;
  }
  .col-offset-lg-10 {
    margin-left: 83.3333%;
  }
  .col-offset-lg-11 {
    margin-left: 91.6666%;
  }
  .col-offset-lg-12 {
    margin-left: 100%;
  }
  .hidden-lg {
    display: none !important;
  }
  .visible-lg {
    display: block !important;
  }
}

@media (min-width: 1440px) {
  .col-xlg-1 {
    width: 8.3333%;
  }
  .col-xlg-2 {
    width: 16.6666%;
  }
  .col-xlg-3 {
    width: 25%;
  }
  .col-xlg-4 {
    width: 33.3333%;
  }
  .col-xlg-5 {
    width: 41.6666%;
  }
  .col-xlg-6 {
    width: 50%;
  }
  .col-xlg-7 {
    width: 58.3333%;
  }
  .col-xlg-8 {
    width: 66.6666%;
  }
  .col-xlg-9 {
    width: 75%;
  }
  .col-xlg-10 {
    width: 83.3333%;
  }
  .col-xlg-11 {
    width: 91.6666%;
  }
  .col-xlg-12 {
    width: 100%;
  }
  .col-offset-xlg-0 {
    margin-left: 0%;
  }
  .col-offset-xlg-1 {
    margin-left: 8.3333%;
  }
  .col-offset-xlg-2 {
    margin-left: 16.6666%;
  }
  .col-offset-xlg-3 {
    margin-left: 25%;
  }
  .col-offset-xlg-4 {
    margin-left: 33.3333%;
  }
  .col-offset-xlg-5 {
    margin-left: 41.6666%;
  }
  .col-offset-xlg-6 {
    margin-left: 50%;
  }
  .col-offset-xlg-7 {
    margin-left: 58.3333%;
  }
  .col-offset-xlg-8 {
    margin-left: 66.6666%;
  }
  .col-offset-xlg-9 {
    margin-left: 75%;
  }
  .col-offset-xlg-10 {
    margin-left: 83.3333%;
  }
  .col-offset-xlg-11 {
    margin-left: 91.6666%;
  }
  .col-offset-xlg-12 {
    margin-left: 100%;
  }
  .hidden-xlg {
    display: none !important;
  }
  .visible-xlg {
    display: block !important;
  }
}

@media (min-width: 1920px) {
  .col-xxlg-1 {
    width: 8.3333%;
  }
  .col-xxlg-2 {
    width: 16.6666%;
  }
  .col-xxlg-3 {
    width: 25%;
  }
  .col-xxlg-4 {
    width: 33.3333%;
  }
  .col-xxlg-5 {
    width: 41.6666%;
  }
  .col-xxlg-6 {
    width: 50%;
  }
  .col-xxlg-7 {
    width: 58.3333%;
  }
  .col-xxlg-8 {
    width: 66.6666%;
  }
  .col-xxlg-9 {
    width: 75%;
  }
  .col-xxlg-10 {
    width: 83.3333%;
  }
  .col-xxlg-11 {
    width: 91.6666%;
  }
  .col-xxlg-12 {
    width: 100%;
  }
  .col-offset-xxlg-0 {
    margin-left: 0%;
  }
  .col-offset-xxlg-1 {
    margin-left: 8.3333%;
  }
  .col-offset-xxlg-2 {
    margin-left: 16.6666%;
  }
  .col-offset-xxlg-3 {
    margin-left: 25%;
  }
  .col-offset-xxlg-4 {
    margin-left: 33.3333%;
  }
  .col-offset-xxlg-5 {
    margin-left: 41.6666%;
  }
  .col-offset-xxlg-6 {
    margin-left: 50%;
  }
  .col-offset-xxlg-7 {
    margin-left: 58.3333%;
  }
  .col-offset-xxlg-8 {
    margin-left: 66.6666%;
  }
  .col-offset-xxlg-9 {
    margin-left: 75%;
  }
  .col-offset-xxlg-10 {
    margin-left: 83.3333%;
  }
  .col-offset-xxlg-11 {
    margin-left: 91.6666%;
  }
  .col-offset-xxlg-12 {
    margin-left: 100%;
  }
  .hidden-xxlg {
    display: none !important;
  }
  .visible-xxlg {
    display: block !important;
  }
}

*, :before, :after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

html {
  font-size: 16px;
}

.body {
  display: flex;
  flex-direction: column;
  -webkit-tap-highlight-color: transparent;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  min-height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

*:focus {
  outline: 0;
}

textarea {
  resize: none;
}

label {
  display: block;
}

form {
  display: inline;
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  font-size: 0.875rem;
}

.bg-image {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.icon {
  display: inline-block;
}

.icon--align_middle {
  vertical-align: middle;
}
