// layout - все что касается основных блоков разметки: html, body, .wrapper, .content, .main, .footer, .header, .sidebar  _layout.scss - содержит стили для html, body, .wrapper, .content, .main. Не включает шапку, футер и сайдбар(ы). Задает box-sizing.
*, :before, :after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

html {
  font-size: 16px;
}

.body {
  display: flex;
  flex-direction: column;
  // font-family: unquote(get-font("main"));
  -webkit-tap-highlight-color: transparent;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  min-height: 100%;
}

.content {
  // display: flex;
  // flex-direction: column;
  // flex: 1 0 auto;
}
.main {
  // flex: 1 0 auto;
}
// Layout (END)
