// Footer
.footer {
  &__copyright {
    margin-top: 20px;
    font-size: get-font-size("small");
    color: #28313b;
  }
  &__link {
    font-size: get-font-size("small");
    color: #28313b;
  }
}

// Footer (END)