// Header
.header {
  background-color: get-color("white");
  ;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
  }
  &__action {
    width: 36px;
    height: 36px;
    stroke: get-color("primaryBlue");
    &:active {
      stroke: get-color("primaryOrange");
    }
    &--active {
      stroke: get-color("primaryOrange");
    }
  }
  &__action-counter {
    border-radius: 50%;
    width: 18px;
    height: 18px;
    background-color: get-color("primaryBlue");
    color: get-color("white");
    font-size: to-rem(10);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -12px);
  }
}

.logo {
  font-size: 0;
}

@media (min-width: 768px) {
  .header {
    &__inner {
      justify-content: flex-start;
      height: 120px;
    }
    &__actions {
      margin-left: auto;
    }
  }

  .logo {
    margin-right: 48px;
  }
}

@media (min-width: 1024px) {
  .logo {
    margin-right: 80px;
  }
}

// Header (END)
