// Header
.header {
  background-color: get-color("white");;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
  }
  &__action {
    width: 36px;
    height: 36px;
  }
}

.nav-trigger {
  width: 36px;
  height: 36px;
}

.logo {
  font-size: 0;
}
// Header (END)
