// layout is all about the main markup blocks: html, body, .wrapper, .content, .main, .footer, .header, .sidebar _layout.scss - contains styles for html, body, .wrapper, .content, .main. Does not include a cap, footer and sidebar (s). Specifies box-sizing.
*,
:before,
:after {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 16px;
}

.body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: unquote(get-font("main"));
  -webkit-tap-highlight-color: transparent;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  min-height: 100%;
}

.content {
  // display: flex;
  // flex-direction: column;
  flex: 1 0 auto;
}

.main {
  flex: 1 0 auto;
}

// Layout (END)
