a {
  color: inherit;
  text-decoration: none;
}

*:focus {
  outline: 0;
}

textarea {
  resize: none;
}

label {
  display: block;
}

form {
  display: inline;
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  font-size: get-font-size("small");
}

.bg-image {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
// General (END)
